{% extends "base.html" %}

{% block content %}
    <h1>Current BBall Scores</h1>
    <table class="table table-bordered">
        <thead>
            <tr>
                <th>Rank</th>
                <th>Name</th>
                <th>Wins</th>
                <th>Losses</th>
                <th>Adjusted Score</th>
            </tr>
            {% for player in players %}
            <tr>
                <td>{{ player.rank }}</td>
                <td>{{ player.name }}</td>
                <td>{{ player.wins }}</td>
                <td>{{ player.losses }}</td>
                <td>{{ player.adj_score }}</td>
            </tr>
            {% endfor %}
        </thead>
    </table>
{% endblock %}
