<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{{heading}}</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
    {% block head %}
    {{contents|safe}}
    {% endblock %}
    </head>
<body>

<nav>
    <a href="{{ url_for('print_index') }}">🏀</a> - 
    <a href="{{ url_for('print_games') }}">Games</a> - 
    <a href="{{ url_for('print_addgame') }}">Add a game</a> - 
    <a href="{{ url_for('print_stats') }}">Tourney Stats</a> - 
    <a href="{{ url_for('print_historical') }}">Historical Stats</a> - 
    <a href="{{ url_for('print_rules') }}">Tourney Rules</a>
</nav>

{% with messages = get_flashed_messages() %}
  {% if messages %}
    <ul class=flashes>
    {% for message in messages %}
      <li>{{ message }}</li>
    {% endfor %}
    </ul>
  {% endif %}
{% endwith %}

<h1>
{{heading}}
</h1>

{% block content %}
{{contents|safe}}
{% endblock %}

</body>
<html>