{% extends "basic.html" %}

{% block content %}

Rules for a game to count [Rationale]:
<ul>
<li>Every player must be at least 13 years old.	[For safety of those involved in a competitive game.]</li>
<li>Each team must have 2+ players (team sizes need not match).	To encourage teamwork</li>
<li>Games must be played Mon,Wed,Thu at 8am-12pm. [1) It gives a better chance we'll be able to fill games and 2) gives a better mix a players if we're all there at the same time and 3) So no one can win just by spending the whole vacation playing games.]</li>
<li>All games must be to 7, win by two, cap 10. [To keep games short.]</li>
<li>Try to mix up the games. [To keep things fair and interesting (and to help this spreadsheet rank players)]</li>
</ul>

<p>On Friday Rank #1 and #3 play #2 and #4 to determine who gets the #1 and #3 spot. Game to 11 win by 2, cap 15. [To make an exciting finale.]
If a ranked player opts out, or is not on time, players move up a ranked for purposes of the final.	Delays waste time and the final is a long game so it gets into the hotter part of the day.</p>
	
<p>Games are losers outs, all changes of possession require a take back, fouls result in taking the ball at the top, jump balls alternate starting with the team that didn't start with the ball.</p>

{% endblock %}